<!DOCTYPE html>
<html lang="en">
<head>

    <title>check bage</title>
</head>
<body>

    <h2>{{>header}}</h2>
    <h2>{{title}}</h2>
    <h2>latitude :  {{latitude  }}</h2>
    <h2>longitude :  {{longitude  }}</h2>
    <h2>country :  {{country }}</h2>
    <h2>weather :  {{weather }}</h2>
    <h2>temp :  {{temp  }}</h2>

</body>
</html>